.m-index {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
   
  header{
    height:.28rem;
    padding:.06rem .5rem .06rem .15rem;
    background: #f7f7f7;
    text-align: center;
    border-radius:.04rem;
    position: relative;
    @include flexbox();
    a:first-child{
       line-height:.28rem;
       text-align: center;
       display: block;
       width:100%;
       color:#a1a1a1;
       font-size:.14rem;
        text-decoration: none;
    }
    a:last-child{
        position: absolute;
        right: .1rem;
        top: .07rem;
        width: .26rem;
        height: .25rem;
        background:red;
    }
  }
  nav {
    height: .4rem;
    background: green;
  }
  section {
    @include flex();
    width: 100%;
    background: yellow;
    width: 100%;
  }
  footer {
    height: .53rem;
    background: blue;
  }
}
