.m-index {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
   
  header{
    height:.28rem;
    padding:.06rem .5rem .06rem .15rem;
    background: #f7f7f7;
    text-align: center;
    border-radius:.04rem;
    position: relative;
    @include flexbox();
    a:first-child{
         @include flex();
    }
    a:first-chlid{
        
    }
  }
  nav {
    height: .4rem;
    background: green;
  }
  section {
    @include flex();
    width: 100%;
    background: yellow;
    width: 100%;
  }
  footer {
    height: .53rem;
    background: blue;
  }
}
