.m-index {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  > * {
    width: 100%;
  }
  header {
    height: .44rem;
    @include flexbox();
    span:first-child,
    span:last-child {
      width: .53rem;
      background-size: .2rem .2rem;
      background-position: center center;
      background-repeat: no-repeat;
    }
    span:first-child {
      background-image: url('/beibei/images/apt.png');
    }
    span:last-child {
      background-image: url('/beibei/images/amo.png');
    }
    span:nth-child(2) {
      @include flex();
      background-image: url('/beibei/images/axm.png');
      background-size: .42rem .22rem;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  nav {
    height: .4rem;
    background: green;
  }
  section {
    @include flex();
    width: 100%;
    background: yellow;
  }
  footer {
    height: .53rem;
    background: blue
  }
}
